<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center">MEDIUM POPULAR LONG NAME</h1>
<br/>
<h3 style="text-align:center">
    <a href="/">HOME</a>
    <a href="/now-playing">NOW PLAYING</a>
</h3>
<br/>
<div th:each = "movie: ${selectedMovies}">
    <br/>
    <img width="150px" src="'http://image.tmdb.org/t/p/original' + ${movie.posterPath}"/>
    <span th:text = "${movie.titles}"></span>
</div>
</body>
</html>